* {
    margin: 0;
    box-sizing: border-box;
}

main {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    background-image: url("/img/curtains.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Noto Serif JP', sans-serif;
}

.hidden {
    transform: translateY(10000px);
}

button:focus {
    outline: none;
}

/******************* SEARCH *********************************/

#outer-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

#search-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}


#search-results {
    position: absolute;
    top: 150px;
    height: 450px;
    width: 72%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.result-img {
    width: 300px;
    height: 169px;
    object-fit: cover;
    object-position: center;
    padding: 10px;
}


/****************** MODAL ***************************/
#scene-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transform: translateX(10000px);
}

#scene-modal.shown {
    transform: translateX(0);
}

#preview {
    display: flex;
    flex-direction: column;

}

.img-preview {
    width: 640px;
    height: 360px;
    border-radius: 10px;
}




/************************ PREGAME ***********************/

#pregame-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
    /* font-family: 'Special Elite', cursive; */
}

#pregame-wrapper h1 {
    font-family: 'Lobster', cursive;
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 70px;
}

#name-input {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-left: none;
    border-right: none;
    background: none;
    padding: 10px 0;
    text-align: center;
    font-family: 'Special Elite', cursive;
    font-size: 1.05rem;
}

#name-input:focus {
    outline: none;
}

.rdy-btn {
    background: black;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Noto Serif JP', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 2px 2px 2px grey;

}

.rdy-btn:hover {
    transform: translateY(2px);
    box-shadow: none;
}

.ready {
    margin-top: 20px;
    font-weight: bold;
}

#online-players {
    position: relative;
    /* width: 100%; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.player-outside {
    background: black;
    padding: 10px;
}

.self-player,
.other-player {
    height: 230px;
    width: 230px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
}

#filmroll-top,
#filmroll-btm {
    height: 50px;
    width: 100%;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#filmroll-top {
    padding-top: 10px;
}

#filmroll-btm {
    padding-bottom: 10px;
}

.perforations {
    width: 30px;
    height: 35px;
    background: white;
    border-radius: 5px;
}



/*************************** GUESSER ************************/

#game-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}

#guesser-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.guess-img {
    width: 640px;
    height: 360px;
    border-radius: 10px;
}

#guess-input {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*********************** SCORER *******************************/


#scorer-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 30px;
}

#incoming-guesses {
    height: 200px;
    width: 640px;
    border: 1px dotted green;
    background: transparent;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.player-guess {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 5px 10px;
    background: royalblue;
    border-radius: 10px;
    cursor: pointer;
}

.player-guess:hover {
    background: green;
}

.guesser-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guesser-name {
    font-weight: bold;
}

.guess-text {
    overflow-wrap: break-word;
}


#scorer-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transform: translateX(10000px);
}

#scorer-modal.shown {
    transform: translateX(0);
}

#pick-winner {
    border: 2px dotted pink;
    background: white;
}

.buttons-box {
    display: flex;
    justify-content: space-between;
}

.buttons-box button {
    background: none;
    border: none;
    font-size: 2.5em;
    cursor: pointer;
}


.fa-check-circle {
    color: green;
    /* font-size: 2em; */
}

.fa-times-circle  {
    color: red;
    /* font-size: 2em; */
}

/************************ TRANSITION ***************************/

#transition-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 1.5rem;
}

#winner {
    margin-bottom: 40px;
}

#score-board {
    padding-top: 20px;
    width: 300px;
    line-height: 50px;
}




.player-score {
    display: flex;
    justify-content: space-between;
}
